.ufi {
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;

  .ufi {
    padding-bottom: 0px;
  }
}

.ufi-inline {
  display: inline-flex;
  padding-right: 20px;
}

.ufi-block {
  display: flex;
}

.ufi-label {
  display: flex;
  color: #606266;
  align-items: center;
  user-select: none;
}

.ufi-content {
  position: relative;
  display: flex;
  gap: 0 24px;
  flex-wrap: wrap;
  flex: 1;
  width: 100%;
  align-items: center;

  .el-button + .el-button {
    margin-left: 0;
  }
}

/* -------------- size -------------- */

.ufi-size-small {
  font-size: 12px;
  .ufi-label {
    height: 24px;
    line-height: 24px;
  }
}

.ufi-size-default {
  font-size: 14px;
  .ufi-label {
    height: 20px;
    line-height: 20px;
  }
}

.ufi-size-large {
  font-size: 14px;
  .ufi-label {
    height: 40px;
    line-height: 40px;
  }
}

/* -------------- required -------------- */

.ufi-required {
  .ufi-label::before {
    content: "*";
    color: #f56c6c;
    margin-right: 4px;
  }
}

/* -------------- mod -------------- */

.ufi-mode-right {
  .ufi-label {
    justify-content: flex-end;
  }
}

.ufi-mode-left {
  .ufi-label {
    justify-content: flex-start;
  }
}

.ufi-mode-top {
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;

  .ufi-label {
    display: block;
    width: 100%;
  }
}

/* -------------- disabled -------------- */

.ufi-disabled {
  .ufi-label {
    color: #a8abb2;
  }
}

/* -------------- error -------------- */

.ufi-status-error {
  .ufi-content-error {
    position: absolute;
    top: 100%;
    color: #f56c6c;
    font-size: 12px;
    line-height: 1;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .el-input__wrapper,
  .el-input__wrapper:hover,
  .el-input__wrapper.is-focus {
    box-shadow: 0 0 0 1px #f56c6c inset;
    outline: none;
  }

  .el-input__prefix svg,
  .el-input__suffix svg {
    color: #f56c6c;
  }
}
