@import "./style.scss";

.ufi-status-error {
  .el-input__wrapper,
  .el-input__wrapper:hover,
  .el-input__wrapper.is-focus {
    box-shadow: 0 0 0 1px #f56c6c inset;
    outline: none;
  }

  .el-input__prefix svg,
  .el-input__suffix svg {
    color: #f56c6c;
  }
}
